body {
    margin: 0;
}

.box {
    width: 100%;
    height: 300px;
    background-color: lightgrey;
    border: 5px solid black;

}
.relative {
    position: relative;
    top: 30px;
    left: 30px;

}

.fixed {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sticky {
    width: 100%;
    height: 50px;
    background-color: aqua;
    position: sticky;
    top: 0;

}
.absolute {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    top: 100px;
    right: 100px;
}
.box zindex {
    z-index: 20;

}